<template>
  <div class="alert-custom">
    <div v-for="error in errors" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error.message}}</strong>
      <button type="button" class="close" @click="removeAlert(error)" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>
</template>

<script>
export default {
  name: 'AlertCustom',
  props: {
    errors: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    removeAlert(error){
      this.$emit('closeError', error);
    }
  }
}
</script>
<style scoped lang="scss">
  .alert-custom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
  }
</style>
