<template>
  <CCard :class="className">
    <CCardHeader :color="color" :text-color="textColor">
      {{title}}
    </CCardHeader>
    <CCardBody>
      <slot></slot>
    </CCardBody>
  </CCard>
</template>

<script>
export default {
  name: 'DefaultCard',
  props: {
    title: {
      type: String,
      required: true
    },
    color: {
      type: String,
      default: 'primary'
    },
    textColor: {
      type: String,
      default: 'light'
    },
    className: {
      type: String,
      default: ''
    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .height100{
    height: 100%;
  }
</style>
