<template>
 <p v-if="data">
     <span>{{data.label}}</span>
     <span>{{data.value}}</span>
 </p>
</template>

<script>
export default {
    name: 'InfoCustom',
    props: {
        data: {
            type: Object,
            default: () => ({label: '', value: ''})
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    p{
        text-align: right;
        span{
            &:nth-child(1){
                position: relative;
                top: 10px;
                right: 10px;
                padding: 5px 10px;
                font-size: 12px;
                background-color: white;
            }
            &:nth-child(2){
                display: block;
                padding: 10px;
                border: solid 1px lightgrey;
                text-align: left;
                border-radius: 10px;
                color: #5a4c4c
            }
        }
    }
</style>
