<template>
  <CDataTable
          :items="actors"
          :fields="fields"
          column-filter
          table-filter
          items-per-page-select
          :items-per-page="5"
          hover
          clickableRows
          @row-clicked="clickRow"
          sorter
          pagination
  >
    <template #buttonDelete="{item, index}">
      <td class="py-2">
        <CButton
                color="primary"
                variant="outline"
                square
                size="sm"
                @click.stop="deleteElement(item)"
        >
          Delete
        </CButton>
      </td>
    </template>
  </CDataTable>
</template>

<script>
export default {
  name: 'ActorsTable',
  methods: {
    clickRow(entity){
      this.$emit('clickActor', entity._id);
    },
    deleteElement(item){
      this.$emit('deleteActor', item._id);
    }
  },
  props: {
    actors: {
      type: Array,
      default: () => []
    },
    fields: {
      type: Array,
      default: () => []
    }
  },

}
</script>

