<template>
    <form @submit.prevent="saveActor">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" required v-model="actor.name">
        </div>
        <div class="form-group">
            <label>Cognome</label>
            <input type="text" class="form-control" required v-model="actor.surname">
        </div>
        <div class="form-group">
            <label>Anno di Nascita</label>
            <input type="text" class="form-control" required v-model="actor.year">
        </div>
        <div class="btn-group">
            <CButton
                    color="info"
                    type="button"
                    class="m-2"
                    @click="goBack"
            >Annulla</CButton>
            <CButton
                    color="primary"
                    type="submit"
                    class="m-2"
            >Salva</CButton>
        </div>
    </form>
</template>

<script>
export default {
    name: 'ActorForm',
    props: ['actorData'],
    data(){
        return {
            actor: {}
        }
    },
    methods: {
      goBack(){
          this.$emit('back')
      },
        saveActor() {
          this.$emit('save', this.actor);
        }
    },
    mounted(){
        if(this.actorData)
            this.actor = {...this.actorData};
    }
}
</script>

