<template>
  <div>
    <div v-if="issetToken && issetUser">
      <router-view />
    </div>
    <div v-else>
      ...Caricamento in corso
    </div>
  </div>
</template>

<script>

export default {
  name: 'AuthPage',
  created(){
    this.$store.dispatch('autoLogin');
  },
  computed: {
    issetToken() {
      return !!this.$store.getters.getToken;
    },
    issetUser(){
      return !!this.$store.getters.getUser;
    }
  }

}
</script>
