<template>
  <div class="container">
    <h1>Login</h1>
    <form @submit.prevent="login">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" v-model="user.email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" v-model="user.password">
      </div>
      <button class="btn btn-primary">Login</button>
    </form>
  </div>
</template>

<script>
  import * as pageActionType from '../store/modules/page/actionType'
  import * as authActionType from '../store/modules/auth/actionType'
export default {
  name: 'Login',
  data() {
    return {
      user: {}
    }
  },
  methods: {
    login: function () {
      this.$store.dispatch(authActionType.loginCall, this.user);
    }
  },
  mounted(){
    this.$store.dispatch(pageActionType.setTitle, 'Login')
  }
}
</script>
