<template>
  <div>
      <CCardBody>
        <CDataTable
                :items="users"
                :fields="fields"
                column-filter
                table-filter
                items-per-page-select
                :items-per-page="5"
                hover
                sorter
                pagination
        >
        </CDataTable>
      </CCardBody>
  </div>
</template>

<script>
  import * as usersActionType from '../store/modules/user/actionType';
  import * as pageActionType from '../store/modules/page/actionType'
export default {
  name: 'Users',
  data(){
    return {
        fields: [
          {key: 'name'},
          {key: 'surname'},
          {key: 'email'}
        ]
    }
  },
  computed: {
    users(){
      return this.$store.getters.getUsers;
    }
  },
  mounted() {
    this.$store.dispatch(pageActionType.setTitle, 'Lista Utenti')
    this.$store.dispatch(usersActionType.setUsersCall);
  }
}
</script>
