<template>
  <div class="container">
      <ActorForm
              :actor-data="actor"
              v-if="actor"
              @back="goBack"
              @save="editActor"
      ></ActorForm>
  </div>
</template>
<script>
  import * as actorActionType from '../../store/modules/actor/actionType';
  import * as pageActionType from '../../store/modules/page/actionType';
  import ActorForm from "../../components/views/actors/ActorForm";
export default {
    name: 'ActorEdit',
    components: {ActorForm},
    data(){
        return {
            id: this.$route.params.id
        }
    },
    methods: {
        goBack(){
            this.$router.push({name: 'Actor', params: {id: this.id}})
        },
      editActor(actor){
          console.log(actor);
        this.$store.dispatch(actorActionType.updateActorCall, {...actor});
      }
    },
    computed: {
      actor(){
          return this.$store.getters.getSelectedActor;
      }
    },
    mounted() {
       this.$store.dispatch(pageActionType.setTitle, 'Modifica Attore');
       this.$store.dispatch(actorActionType.setActorCall, this.id)
    }
}
</script>
