<template>
  <div class="container" v-if="actor">
      <div class="d-flex justify-content-between">
          <CButton
                  color="info"
                  class="m-2"
                  :to="{name: 'Actors'}"
          >
              Lista Attori
          </CButton>
          <CButton
                  color="primary"
                  class="m-2"
                  :to="{name: 'ActorEdit', params: {id: actor._id}}"
          >
              Modifica
          </CButton>
      </div>
      <div class="row">
          <div class="col-6" v-for="inf in listInfo">
              <InfoCustom :data="inf"></InfoCustom>
          </div>
      </div>
      <div v-if="actor && actor.movies && actor.movies.length">
          <h1>Lista film di {{actor.name}} {{actor.surname}}</h1>
          <MoviesTable :movies="actor.movies" :fields="fields"></MoviesTable>
      </div>
  </div>
</template>
<script>
  import * as actorActionType from '../../store/modules/actor/actionType';
  import * as pageActionType from '../../store/modules/page/actionType';
  import InfoCustom from "../../components/shared/design/InfoCustom";
  import MoviesTable from "../../components/views/actor/MoviesTable";
export default {
  name: 'Actor',
    components: {MoviesTable, InfoCustom},
    data(){
    return {
        id: this.$route.params.id,
        info: [
            {label: 'Nome', field: 'name'},
            {label: 'Cognome', field: 'surname'},
            {label: 'Anno di nascita', field: 'year'}
        ],
        fields: [
            {key: 'title'},
            {key: 'year'}
        ]
    }
  },
  computed: {
    actor(){
      return this.$store.getters.getSelectedActor;
    },
    listInfo(){
      return this.info.map(inf => ({label: inf.label, value: this.actor[inf.field]}));
    }
  },
  mounted() {
    this.$store.dispatch(pageActionType.setTitle, 'Dettaglio Attore');
    this.$store.dispatch(actorActionType.setActorCall, this.id);
  }
}
</script>
