<template>
  <div class="container">
      <ActorForm @save="saveActor" @back="goBack"></ActorForm>
  </div>
</template>
<script>
  import * as actorActionType from '../../store/modules/actor/actionType';
  import * as pageActionType from '../../store/modules/page/actionType';
  import ActorForm from "../../components/views/actors/ActorForm";
export default {
    name: 'ActorStore',
    components: {ActorForm},
    methods: {
        goBack(){
          this.$router.push({name: 'Actors'})
        },
        saveActor(actor){
          this.$store.dispatch(actorActionType.addActorCall, actor);
        }
    },
    mounted() {
       this.$store.dispatch(pageActionType.setTitle, 'Aggiunta nuovo Attore');
    }
}
</script>
