<template>
  <div class="container">
      <div class="d-flex justify-content-end">
          <CButton
                  color="primary"
                  class="m-2"
                  :to="{name: 'ActorStore'}"
          >
              Nuovo Attore
          </CButton>
      </div>
      <ActorsTable
              :actors="actors"
              :fields="fields"
              @deleteActor="deleteActor"
              @clickActor="selectedActor"></ActorsTable>
  </div>
</template>

<script>
  import * as actorsActionType from '../../store/modules/actor/actionType';
  import * as pageActionType from '../../store/modules/page/actionType';
  import ActorsTable from "../../components/views/actors/ActorsTable";
  import socketService from "../../services/socketService";
export default {
  name: 'Actors',
  components: {ActorsTable},
  data(){
    return {
        fields: [
            {key: 'name'},
            {key: 'surname'},
            {key: 'year'},
            {key: 'buttonDelete', label: '', filter: false, sorter: false}
        ]
    }
  },
  computed: {
    actors(){
      return this.$store.getters.getActors;
    }
  },
    methods: {
      selectedActor(id){
          this.$router.push({name: 'Actor', params: {id}});
      },
        deleteActor(id){
          this.$store.dispatch(actorsActionType.deleteActorCall, id)
        }
    },
  mounted() {
      socketService.subscribeActor();
    this.$store.dispatch(pageActionType.setTitle, 'Lista attori');
    this.$store.dispatch(actorsActionType.setActorsCall);
  }
}
</script>
