<template>
  <CDataTable
          :items="movies"
          :fields="fields"
          column-filter
          table-filter
          items-per-page-select
          :items-per-page="5"
          hover
          clickableRows
          @row-clicked="clickRow"
          sorter
          pagination
  >
  </CDataTable>
</template>

<script>
export default {
  name: 'MoviesTable',
  methods: {
    clickRow(entity){
      this.$emit('clickMovies', entity._id);
    }
  },
  props: {
    movies: {
      type: Array,
      default: () => []
    },
    fields: {
      type: Array,
      default: () => []
    }
  },

}
</script>

