<template>
  <div id="app">
    <AlertCustom :errors="errors" @closeError="removeError"></AlertCustom>
    <Header :user="user" :voices="menu" @logout="logout"></Header>
    <div class="pb-body container">
      <DefaultCard :title="pageTitle" class-name="height100">
        <router-view/>
      </DefaultCard>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
  import Header from "./components/core/Header";
  import Footer from "./components/core/Footer";
  import AlertCustom from "./components/core/AlertCustom";
  import * as authActionType from "./store/modules/auth/actionType";
  import * as errorActionType from "./store/modules/error/actionType";
  import DefaultCard from "./components/shared/design/DefaultCard";
  export default {
    components: {DefaultCard, AlertCustom, Footer, Header},
    methods: {
      removeError(error){
        this.$store.dispatch(errorActionType.removeError, error);
      },
      logout(){
        this.$store.dispatch(authActionType.logout);
      }
    },
    computed:{
      user(){
        return this.$store.getters.getUser;
      },
      menu(){
        return this.$store.getters.getVoices;
      },
      errors(){
        return this.$store.getters.getErrors;
      },
      pageTitle(){
        return this.$store.getters.getTitlePage;
      }
    }
  }
</script>

<style lang="scss">
  @import "~@coreui/coreui/scss/coreui";
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .pb-body{
    margin-top: -25px;
    height: calc(100vh - 98px);
  }
</style>
